@using BusinessObjects.Models;
@using BusinessObjects.DTO;
@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<UserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- HEADER DESKTOP-->

<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" asp-action="Index" method="get">
                    <input class="au-input au-input--xl" type="text" name="search" value="@ViewBag.searchString" placeholder="Tìm kiếm tài khoản" />
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>


                <div class="header-button">

                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" asp-page="/Account/Manage/Index">@ViewBag.UserName</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                            <i class="zmdi zmdi-account"></i>Tài khoản
                                        </a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/logout">
                                        <i class="zmdi zmdi-power"></i>Đăng xuất
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!--END HEADER DESKTOP-->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-5 m-b-35">Quản lý tài khoản</h1>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                    </div>
                    <div class="table-data__tool-right">
                    </div>
                </div>
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Phân quyền</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Fullname</td>
                                    <td>@user.Address</td>
                                    <td>@user.Phone</td>
                                    <td>
                                        @foreach (var role in user.Roles)
                                        {
                                            <span>@role</span>

                                            <br />
                                        }
                                    </td>
                                    <td>
                                        <div class="table-data-feature">

                                            <button class="item" style="margin-right: 80px" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <a asp-controller="User" asp-action="UpdateUserForm" asp-route-userName="@user.UserName"><i class="zmdi zmdi-edit"></i></a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


